@keyframes animate-flash {
	from {
    filter: brightness(1000%);
	}
	to {
		filter: brightness(100%);
	}
}

@keyframes animate-fade-out {
	from {
    transform: translate(0,0);
    margin-bottom: initial;
    opacity: 100%;
    z-index: 1;
	}
	to {
    transform: translate(0, 60px);
    margin-bottom: -60px;
		opacity: 0%;
    z-index: 1;
	}
}

@keyframes animate-prepend {
  from {
    margin-top: -60px;
  }
  to {
    margin-top: initial;
  }
}

@keyframes animate-append {
  from {
    opacity: 0%;
    margin-top: 60px;
  }
  to {
    opacity: initial;
    margin-top: initial;
  }
}


#game_results, #ongoing_games {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}

#game_results {
  margin-top: 0.5%;
}

.game_result {
  display: flex;
  flex-flow: row;
  height: 60px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: #DAB785;
  border-radius: 5px;
  border: 2px solid black;
  z-index: 2;
}

.stats {
  flex-flow: column;
  height: auto;
}

.player_name {
  display: flex;
  width: 20%;
  height: 95%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon.vs {
  background-image: url('/public/icons/vs.png');
  z-index: 10;
}

.icon.vs.fire {
  background-image: url('/public/icons/vs.gif');
  z-index: 10;
  margin-left: 40px;
  margin-right: 40px;
}

.winner_true {
  background-image: url('/public/icons/winner.png');
}

.winner_false {
  background-image: url('/public/icons/loser.png');
}

.draw {
  background-image: url('/public/icons/draw.png');
}

.hand.winner {
  z-index: 11;
  filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(60deg) saturate(400%);
}

.hand.loser {
  z-index: 9;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(200%);
}

.hand.scissors {
  background-image: url('/public/icons/scissors.png');
}

.hand.rock {
  background-image: url('/public/icons/rock.png');
}

.hand.paper {
  background-image: url('/public/icons/paper.png');
}

.hand.right {
  margin-right: -4%;
}

.hand.left {
  margin-left: -4%;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.player_name:hover {
  cursor: pointer;
  background-color: rgb(233, 229, 175);
}